@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}

@variants responsive {
  .h-vh {
    height: 100vh;
  }
}

footer {
  height: auto;
  background-color: #011020;
}
.shadow {
  position: relative;
  bottom: 10px;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px #fff;
  box-shadow: 10px 5px 25px 45px #fff;
}

.background {
  background-image: url(../public/pictures&svgs/background.svg);
  /*clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);*/
}

.feature-bg {
  background-image: url(../public/pictures&svgs/blob-haikei.svg);
}
.review-bg {
  background-image: url(../public/pictures&svgs/reviewbg1.svg);
  background-position: center;
  background-size: cover;
}

.btn:hover {
  transform: scale(1.1) !important;
}

.glassmorphism {
  margin: auto;
  background-color: rgba(219, 211, 211, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.review-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: auto;
  position: relative;
  transition: transform 0.3s ease;
}

.gradient-bg {
  background: linear-gradient(135deg, #000, #3c486b);
}

.review-right,
.review-left {
  opacity: 0.8;
  transform: scale(0.8);
  margin: 0 5px;
  width: 100%;
  max-width: 100%;
  min-height: 270px;
  max-height: 270px;
}

.review-right {
  right: -50px;
  margin-left: 30px;
}
.review-left {
  left: -50px;
  margin-right: 30px;
}

.review-active {
  z-index: 1;
  transform: scale(1.2);
  background: #3c486b;
  width: 100%;
  min-height: 270px;
  max-height: 270px;
}
.slant-top {
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
}

.slide-in {
  opacity: 0;
  transform: translateY(100%);
  animation: slideIn 0.5s forwards;
}

.auth-page-side {
  background-image: url(../public/pictures&svgs/circle-scatter-haikei.svg);
  background-size: cover;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Loading spinner*/
.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #ff3939 #0000 #3c486b;
  animation: s1 0.5s infinite;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: width 0.3s, height 0.3s;
}
.notification-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  justify-content: flex-end;
}

.reverse-overlay {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 9999;
  transition: width 0.3s, height 0.3s;
}

@keyframes s1 {
  to {
    transform: rotate(0.5turn);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-cst::-webkit-scrollbar {
  width: 4px; /* Adjust the width to make it short */
}

.scrollbar-cst::-webkit-scrollbar-thumb {
  background-color: transparent; /* Change the thumb color to red */
  border-radius: 2px; /* Rounded corners for the thumb */
  border-bottom: 80px solid #3c486b;
}

.bouncer-animation {
  animation: bounce 2s ease-in-out infinite;
  transition: all 0.5s linear;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.dashboard-component {
  width: calc(100vw - 96px);
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.h-dashboard {
  height: calc(100vh - 64px);
}
.h-chatList {
  height: calc(100vh - (48px + 24px + 20px + 8px));
}
.w-chatContainer {
  width: calc(100vw - 96px);
  display: grid;
  grid-template-columns: 27% 53% 20%;
}
.h-chat {
  height: calc(100vh - (64px * 2));
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  grid-template-rows: subgrid;
}

.small-text {
  font-size: 10px;
}

.text-area {
  resize: none;
  min-height: 40px;
  max-height: 200px;
}

.text-area::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for Chrome, Safari, and Opera */
}

input[type="file"] {
  display: none;
}

.moveRightAnim {
  animation: moveLeftAnimation 0.2s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.moveLeftAnim {
  animation: moveRightAnimation 0.2s ease-in-out;
  transition: all 0.1s ease-in-out;
}
@keyframes moveRightAnimation {
  0% {
    justify-content: flex-start;
    display: none;
  }

  100% {
    justify-content: flex-end;
    display: block;
  }
}
@keyframes moveLeftAnimation {
  0% {
    justify-content: flex-end;
    display: none;
  }

  100% {
    justify-content: flex-start;
    display: block;
  }
}
